@keyframes cardCenterIn {
    10% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(0.8) translateX(130%);
    }
    70% {
        transform: scale(0.8) translateX(130%);
    }
    75% {
        transform: scale(1) translateX(102%);
    }
    100% {
        transform: scale(1) translateX(102%);
    }
}

@keyframes cardRightIn {
    25% {
        transform: translateY(0%);
    }
    40% {
        transform: translateY(103.5%);
    }
    100% {
        transform: translateY(103.5%);
    }
}

@keyframes cardBottomIn {
    25% {
        transform: translateX(0%);
    }
    40% {
        transform: translateX(-102%);
    }
    100% {
        transform: translateX(-102%);
    }
}

@keyframes cardLeftIn {
    25% {
        transform: translateY(0%);
    }
    40% {
        transform: translateY(-103.5%);
    }
    100% {
        transform: translateY(-103.5%);
    }
}

@keyframes cardBottomToTopIn {
    25% {
        transform: translateX(0%);
    }
    40% {
        transform: translateX(-102%);
    }
    50% {
        transform: translateX(-102%) translateY(5%);
    }
    70% {
        transform: translateX(-102%) translateY(5%) scale(0.8);
    }
    90% {
        transform: translateX(-102%) translateY(-103.5%) scale(0.8);
    }
    95% {
        transform: translateX(-102%) translateY(-103.5%) scale(1);
    }
    100% {
        transform: translateX(-102%) translateY(-103.5%);
    }
}

@keyframes cardBottomBottomIn {
    0% {
        transform: translateY(120%) !important;
    }
    90% {
        transform: translateY(120%) !important;
    }
    95% {
        transform: translateY(110.8%) !important;
    }
    100% {
        transform: translateY(110.8%) !important;
    }
}

.card-center-in {
    animation: cardCenterIn 3s ease-in-out forwards;
}

.card-right-in {
    animation: cardRightIn 3s ease-in-out forwards;
}

.card-bottom-in {
    animation: cardBottomIn 3s ease-in-out forwards;
}

.card-bottom-to-top-in {
    animation: cardBottomToTopIn 3s ease-in-out forwards;
}

.card-left-in {
    animation: cardLeftIn 3s ease-in-out forwards;
}

.card-bottom-bottom-in {
    animation: cardBottomBottomIn 3s ease-in-out forwards;
}

@keyframes cardCenterOut {
    0% {
        transform: scale(1) translateX(102%);
    }
    25% {
        transform: scale(1) translateX(102%);
    }
    30% {
        transform: scale(0.8) translateX(102%);
    }
    60% {
        transform: scale(0.8) translateX(102%);
    }
    85% {
        transform: scale(0.8) translateX(0%);
    }
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes cardRightOut {
    0% {
        transform: translateY(103.5%);
    }
    60% {
        transform: translateY(103.5%);
    }
    75% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes cardBottomOut {
    0% {
        transform: translateX(-102%);
    }
    60% {
        transform: translateX(-102%);
    }
    75% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes cardLeftOut {
    0% {
        transform: translateY(-103.5%);
    }
    60% {
        transform: translateY(-103.5%);
    }
    75% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes cardBottomToTopOut {
    0% {
        transform: translateX(-102%) translateY(-103.5%);
    }
    5% {
        transform: translateX(-102%) translateY(-103.5%) scale(1);
    }
    10% {
        transform: translateX(-102%) translateY(-103.5%) scale(0.8);
    }
    30% {
        transform: translateX(-102%) translateY(5%) scale(0.8);
    }
    50% {
        transform: translateX(-102%) translateY(5%);
    }
    60% {
        transform: translateX(-102%);
    }
    75% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes cardBottomBottomOut {
    0% {
        transform: translateY(110.8%);
    }
    5% {
        transform: translateY(110.8%);
    }
    10% {
        transform: translateY(120%);
    }
    100% {
        transform: translateY(120%);
    }
}

@keyframes slideLeftOut {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.card-center-out {
    animation: cardCenterOut 3s ease-in-out forwards;
}

.card-right-out {
    animation: cardRightOut 3s ease-in-out forwards;
}

.card-bottom-out {
    animation: cardBottomOut 3s ease-in-out forwards;
}

.card-bottom-to-top-out {
    animation: cardBottomToTopOut 3s ease-in-out forwards;
}

.card-left-out {
    animation: cardLeftOut 3s ease-in-out forwards;
}

.card-bottom-bottom-out {
    animation: cardBottomBottomOut 3s ease-in-out forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-slide-left {
    animation: slideLeft 30s linear infinite;
}

.animate-slide-left-out {
    animation: slideLeftOut 30s linear infinite;
}

@keyframes textCardIn {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.text-card-in {
    animation: textCardIn 3s ease-in-out forwards;
}

@keyframes textCardOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.text-card-out {
    animation: textCardOut 3s ease-in-out forwards;
}
