@keyframes cardCenterIn {
    10% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(0.8) translateX(130%);
    }
    70% {
        transform: scale(0.8) translateX(130%);
    }
    75% {
        transform: scale(1) translateX(102%);
    }
    100% {
        transform: scale(1) translateX(102%);
    }
}

@keyframes cardRightIn {
    25% {
        transform: translateY(0%);
    }
    40% {
        transform: translateY(103.5%);
    }
    100% {
        transform: translateY(103.5%);
    }
}

@keyframes cardBottomIn {
    25% {
        transform: translateX(0%);
    }
    40% {
        transform: translateX(-102%);
    }
    100% {
        transform: translateX(-102%);
    }
}

@keyframes cardLeftIn {
    25% {
        transform: translateY(0%);
    }
    40% {
        transform: translateY(-103.5%);
    }
    100% {
        transform: translateY(-103.5%);
    }
}

@keyframes cardBottomToTopIn {
    25% {
        transform: translateX(0%);
    }
    40% {
        transform: translateX(-102%);
    }
    50% {
        transform: translateX(-102%) translateY(5%);
    }
    70% {
        transform: translateX(-102%) translateY(5%) scale(0.8);
    }
    90% {
        transform: translateX(-102%) translateY(-103.5%) scale(0.8);
    }
    95% {
        transform: translateX(-102%) translateY(-103.5%) scale(1);
    }
    100% {
        transform: translateX(-102%) translateY(-103.5%);
    }
}

@keyframes cardBottomBottomIn {
    0% {
        transform: translateY(120%);
    }
    90% {
        transform: translateY(120%);
    }
    95% {
        transform: translateY(110.8%);
    }
    100% {
        transform: translateY(110.8%);
    }
}

.card-center-in {
    animation: cardCenterIn 3s ease-in-out forwards;
}

.card-right-in {
    animation: cardRightIn 3s ease-in-out forwards;
}

.card-bottom-in {
    animation: cardBottomIn 3s ease-in-out forwards;
}

.card-bottom-to-top-in {
    animation: cardBottomToTopIn 3s ease-in-out forwards;
}

.card-left-in {
    animation: cardLeftIn 3s ease-in-out forwards;
}

.card-bottom-bottom-in {
    animation: cardBottomBottomIn 3s ease-in-out forwards;
}
